@import '../../colours.scss';

.social-item {
  font-size: 1.5rem;
  transition: all 0.2s ease;
  &:not(:last-child) {
    margin-right: 1.3em;
  }

  a {
    color: $grey5;
    &:hover {
      color: $grey3;
    }
  }
}